* {
  box-sizing: border-box;
}

body {
  background-color: paleturquoise;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

p {
  margin: 5px;
  background-color: darkolivegreen;
  font-size: 2em;
  color: white;
  padding: 5px;
}
